.card-img-top {
    height: 350px;
    object-fit: cover;
}

.tabla-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.oculto {
    display: none;
}

.mostrar-flex {
    display: flex !important;
}
